/*  Overide module styles */

.ReactModal__Body--open {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100%;
}

.ReactModal__Content {
  max-width: 800px;
  min-width: 500px;
  height: 70%;
}

@media (max-width: 480px) {
  .ReactModal__Content {
    max-width: 100px;
    min-width: 100px;
    height: 70%;
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
  }
}

@media (min-width: 600px) {
  .ReactModal__Content {
    max-width: 800px;
    height: 70%;
    top: 0;
    left: 0;
  }
}

@media (max-width: 768px) {
  .ReactModal__Content {
    max-width: 300px;
    min-width: 300px;
    height: 70%;
    top: 0;
    left: 0;
  }
}

#root {
  transition: all 0.5 linear;
  filter: none;
}

body.ReactModal__Body--open>#root {
  filter: blur(2px);
}

body.ReactModal__Body--before-close>#root {
  filter: none;
}
