body {
    margin: 0 !important;
    padding: 0 !important;
    height: 100%;
    background-color: #f2eedd;
    background-image: linear-gradient(to bottom, #7de2fc 0%, #dcf5c4 100%);
    min-height: 500vh;
}

/* Navbar */

.navbar-brand {
    display: none;
}

@media screen and (max-width: 992px) {
    .navbar-brand {
        display: inline;
    }
    .navItem {
        margin-left: 1em;
    }
}

.navbar span {
    font-family: 'Dancing Script', cursive;
    font-size: 1.5rem;
    color: white;
    margin-left: 1em;
}

.navItem {
    padding: 0.75rem;
    font-size: 0.75rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Main Section */

.main-section {
    height: 100vh;
    /* background-image: src('./assets/img/background.svg.png'); */
    /* background-color: #FFFF; */
}

@media screen and (max-width: 992px) {
    .main-section {
        height: 100vh;
        color: #FFFF;
    }
}

.main-section .content {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.hero {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}

.text-wrapper {
    text-align: center;
}

.headline {
    color: black;
    font-weight: 100;
    line-height: 0.5;
}

.sub-headline {
    text-transform: uppercase;
    color: black;
}

.parallax {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

/* About Section */

.about-section {
    /* height: 70vh; */
    /* background-color: #4F4F4F; */
}

/* Project Section */

.projects-section {
    /* height: 100vh; */
    /* background-color: #D0D0D0; */
}

/* Experience Section */

.experience-section {
    /* height: 100vh; */
    /* background-color: #B5B5B5; */
}

/* Skills Section */

.skills-section {
    /* height: 70vh; */
    /* background-color: #9A9A9A; */
}

/* Education Section */

.education-section {
    /* height: 100vh; */
    /* background-color: #808080; */
}

/* Contact Section */

.contact-section {
    /* height: 50vh; */
    /* background-color: #676767; */
}

/* Footer Section */

.footer-section {
    /* height: 20vh; */
    /* background-color: #4F4F4F; */
}

/* React Scroll */

.active {
    color: #000 !important;
    font-weight: 600;
}

/* Theme Button */

.social-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 3rem;
    width: 3rem;
    /* background-color: #fff; */
    color: #000;
    border-radius: 100%;
    font-size: 1.5rem;
    margin-top: 5%;
    margin-right: 1rem;
    /* border: 1px solid #fff; */
}

/* .social-icons .social-icon:hover {
    background-color: #000; 
    /* color: #000;
} */

/* Resume Items */

.resume-content {
    padding: 4rem;
    /* background: #fff; */
}

.resume-content-container {
    display: flex;
    flex-flow: column;
    align-items: center;
    max-width: 1120px;
    width: 90%;
    margin: 0 auto;
}

.resume-content-container-wrapper {
    position: relative;
    margin: 50px 0 45px;
}

.resume-items {
    margin-bottom: 24px;
}

.resume-item {
    display: flex;
    flex: 1;
    margin: 0 1rem;
    border-radius: 10px;
}

.resume-item .date {
    display: relative;
    float: right;
}
