.body {
    margin: 0 !important;
    padding: 0 !important;
}

/* Navbar */

.navbar-brand {
    display: none;
}

@media screen and (max-width: 992px) {
    .navbar-brand {
        display: inline;
    }
    .navItem {
        margin-left: 1em;
    }
}

.navbar span {
    font-family: 'Dancing Script', cursive;
    font-size: 1.5rem;
    color: white;
    margin-left: 1em;
}

.navItem {
    padding: 0.75rem;
    font-size: 0.75rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Sections */

.main-section {
    height: 100vh;
    background-color: #FFFF;
}

.main-section .content {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.about-section {
    height: 70vh;
    background-color: #EDEDED;
}

.projects-section {
    height: 100vh;
    background-color: #D0D0D0;
}

.experience-section {
    height: 100vh;
    background-color: #B5B5B5;
}

.skills-section {
    height: 70vh;
    background-color: #9A9A9A;
}

.education-section {
    height: 100vh;
    background-color: #808080;
}

.contact-section {
    height: 80vh;
    background-color: #676767;
}

.footer-section {
    height: 20vh;
    background-color: #4F4F4F;
}

/* React Scroll */

.active {
    color: #000 !important;
    font-weight: 600;
}