body {
    margin: 0 !important;
    padding: 0 !important;
    height: 100%;
    background-color: #f2eedd;
    background-image: linear-gradient(to bottom, #7de2fc 0%, #a0e7a0 100%);
    min-height: 500vh;
}

/* Navbar */

.navbar-brand {
    display: none;
    color: rgba(0, 0, 0, 0.5);
}

@media screen and (max-width: 991px) {
    .navbar-brand {
        display: inline;
    }
    .navItem {
        margin-left: 2em;
        padding: 0.75rem;
    }
}

@media screen and (max-width: 991px) {
    .navbar-brand {
        display: inline;
    }
}

.navbar span {
    font-family: 'Sacramento', cursive;
    font-size: 1.75rem;
    font-weight: bold;
    margin-left: 1em;
}

.navItem {
    padding-left: 0.7rem;
    padding-right: 0.7rem;
    font-size: 0.75rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
}

.active {
    color: #000 !important;
    font-weight: bold;
    /* border-bottom: 2px solid black; */
}

.social-icons {
    display: inline-block;
    align-items: center;
    justify-content: center;
    margin-top: 0.5rem;
}

.social-icon {
    color: rgba(0, 0, 0, 0.5);
    font-size: 1.5rem;
    margin-left: 0.75rem;
}

.social-icon:hover {
    color: #000;
    border-bottom: 2px solid black;
}

.theme-switch-toggle {
    margin-left: 0.75rem;
    margin-right: 0.75rem;
}

.react-switch {
    vertical-align: bottom;
}

@media screen and (max-width: 991px) {
    .social-icons {
        margin-left: 1.5rem;
    }    
}


.main-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* @media screen and (max-width: 992px) {
    .main-name-container-big {
        display: none;
    }
    .main-name-container-small {
        display: visible;
    }
} */

.main-name-container-big {
    display: visible;
}

.main-name-container-small {
    display: none;
}

.main-name {
    font-family: 'Sacramento', cursive;
    font: italic serif;
    fill: black;
    font-weight: 600;
}

.main-section .content {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.main-section-container {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}

.cloud-small, .cloud-big {
    position: absolute;
    border-radius: 5px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

/* @media screen and (max-width: 992px) {
    .cloud-small {
        display: none;
    }
    .hello {
        display: none;
    }
    .i-am {
        display: none;
    }
} */

/* Icons made by Freepik from www.flaticon.com */

.cloud-small {
    opacity: 1;
    width: 40ch;
    height: 40ch;
    /* min-width: 15ch;
    min-height: 15ch;
    width: 25vw;
    height: 25vw;
    max-width: 50ch;
    max-height: 50ch; */
    background-image: url(https://image.flaticon.com/icons/svg/414/414927.svg);
}

/* Icons made by Freepik from www.flaticon.com */

.cloud-big {
    opacity: 1;
    width: 60ch;
    height: 50ch;
    /* min-width: 35ch;
    min-height: 30ch;
    width: 35vw;
    height: 25vw;
    max-width: 70ch;
    max-height: 60ch; */
    background-image: url(https://image.flaticon.com/icons/svg/414/414927.svg);
}

.earth {
    opacity: 1;
    width: 100ch;
    height: 100ch;
}

.satellite {
    opacity: 1;
    width: 20ch;
    height: 30ch;
}

/* Resume Items */

.resume-content {
    padding: 4rem;
    /* background: #fff; */
}

.resume-content-container {
    display: flex;
    flex-flow: column;
    align-items: center;
    margin: 0 auto;    
}

.resume-items {
    margin-top: 5rem;
}


.resume-item {
    width: 45rem;
    border-radius: 10px;
    background-color: white;
    padding: 2rem;
    margin-bottom: 2rem;
}

@media screen and (max-width: 991px) {
    .resume-item {
        width: 40rem;
        border-radius: 10px;
        padding: 3rem;
    }
}

@media screen and (max-width: 480px) {
    .resume-item-wrapper {
        /* padding-left: 2.5rem; */
        /* padding-right: 1rem; */
    }
    .resume-item {
        width: 20rem;
        border-radius: 10px;
        padding: 2rem;
    }
}


.resume-item-header {
    display: flex;
    justify-content: space-between;
}

.resume-item-header-date{
    display: inline-block;
}

.resume-item-sub-header {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}
.resume-item-sub-header h5 {
    color: rgba(0, 0, 0, 0.808);
}

.resume-item-details{
    list-style: none;
    padding-left: 0%;
}


.resume-item .date {
    display: relative;
    float: right;
}

.resume-content-title {
    margin-top: 8rem;
}
